{% extends "base/base_list.html" %}
{% block css %}
    {#    <link rel="stylesheet" href="http://res.jian-hu.cn/static/dist/css/app-index.css">#}
    <style type="text/css">
        .jian-fabu-btn {
            position: absolute;
            right: 12px;
            bottom: 52px;
            height: 80px;
            width: 80px;
        }
    </style>
{% endblock %}

{% block header_left %}
{% endblock %}
{% block header %}
    <img src="http://res.jian-hu.cn/static/img/jianhu@2x.png" height="30px" width="52px" style="margin: 7px auto">
{% endblock %}
{% block header_right %}
{% endblock %}
{#header end#}

{% block sub_content %}
    <div class="jian-fabu-btn">
        <a href="/job/fabu_job"><img src="http://res.jian-hu.cn/static/img/btn_fabu@2x.png" width="80px"
                                     height="80px"></a>
    </div>
{% endblock %}