{% extends "base/base.html" %}
{% block parent_css %}
    <style type="text/css">
        /*edit-userinfo.css*/
        .jian-form {
            margin-top: 0px;
            font-family: 'Microsoft YaHei';
            overflow-x: hidden;
        }

        .jian-form-cell {
            /*margin:0;*/
            font-size: 16px;
        }

        .jian-cell-hd {
            width: 145px;
        }

        .jian-form-cell:before {
            /*margin:0;*/
            left: 0;
            border-top: 1px solid #ebebeb;
        }

        .jian-form-cell-body {
            text-align: right;
            color: #8e8e8e;
        }

        .jian-form-skill {
            color: #2b2e30;
            line-height: 28px;
            font-size: 16px;
            /*font-weight: bold;*/
        }
    </style>
{% endblock %}

{% block header_left %}
{% endblock %}
{% block header %}
    <img src="http://res.jian-hu.cn/static/img/jianhu@2x.png" height="30px" width="52px" style="margin: 7px auto">
{% endblock %}
{% block header_right %}
{% endblock %}
{#header end#}

{% block content %}
    <div class="weui_tab_bd" style="margin-top: 0;padding-top: 45px;background-color: #ebebeb;">
        <!--内容区-->
        <div id="content">
            <!-- form start -->
            <form id="info_form" method="post" action="/user/post_userinfo">
                <div class="weui_cells_title">基本信息（必填）</div>
                <div class="weui_cells weui_cells_form jian-form">
                    <div class="weui_cell jian-form-cell">
                        <div class="weui_cell_hd jian-cell-hd"><label class="weui_label">真实姓名</label></div>
                        <div class="weui_cell_bd weui_cell_primary jian-form-cell-body">
                            <input class="weui_input" name="real_name" id="real_name" type="text" placeholder="请输入真实姓名">
                        </div>
                    </div>
                    <div class="weui_cell jian-form-cell">
                        <div class="weui_cell_hd jian-cell-hd"><label class="weui_label">所在公司</label></div>
                        <div class="weui_cell_bd weui_cell_primary jian-form-cell-body">
                            <input class="weui_input" name="company_name" id="company_name" type="text"
                                   placeholder="请输入所在公司">
                        </div>
                    </div>
                    <div class="weui_cell jian-form-cell">
                        <div class="weui_cell_hd jian-cell-hd"><label class="weui_label">您的职位</label></div>
                        <div class="weui_cell_bd weui_cell_primary jian-form-cell-body">
                            <input class="weui_input" name="title" id="user_title" type="text" placeholder="请输入您的职位">
                        </div>
                    </div>

                    <div class="weui_cell weui_cell_select jian-form-cell" style="padding: 15px;10px;">
                        <div class="weui_cell_hd" style="width: 145px;">
                            <label class="weui_label">所在城市</label></div>
                        <div class="weui_cell_bd weui_cell_primary jian-form-cell-body">
                            <input class="weui_input" name="city" type="text" id='city-picker'
                                   value="北京 北京市 东城区 "/>
                        </div>
                    </div>
                </div>

                <div class="weui_cells_title">微简历（可选填）</div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <textarea rows="5" name="jianli" class="weui_textarea" id="jianli"
                                      style="color: #8e8e8e;font-size: 13px;"
                                      placeholder="主要技能，主要业绩，工作经历，教育背景等" rows="3"></textarea>

                            <div class="weui_textarea_counter"><span id="jianli_count">0</span>/140</div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- form-end -->

            <div style="margin: 40px 15px">
                <div id="info_submit"
                     style="text-align: center;font-size: 18px;color: #ffffff;background-color: #00a8ff;margin: 10px auto;padding: 8px;border-radius: 4px;">
                    提交
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block parent_script %}
    <script src="http://res.jian-hu.cn/static/jquery-weui/dist/js/city-picker.min.js"></script>
    <script type="text/javascript">
        var info = {{ info | safe }};

        $('#title').text(info.title);

        $('#real_name').val(info.real_name);
        console.log(info.city + "hhh");
        $('#city-picker').val(info.city);
        $('#company_name').val(info.company_name);
        $('#user_title').val(info.user_title);
        $('#jianli').val(info.desc);
        $('#jianli_count').text($('#jianli').val().length);

        $('#jianli').bind('input propertychange', function () {
            if (this.value.length > 140) {
                this.value = this.value.substr(0, 140);
                $('#jianli_count').css('color', 'red');
            } else {
                $('#jianli_count').css('color', '#b2b2b2');
            }
            $('#jianli_count').text($(this).val().length);
        });

        $('#info_submit').on('click', function (event) {
            if ($('#real_name').val() == '') {
                $.toast("请输入真实姓名！", "text");
                return;
            }
            if ($('#company_name').val() == '') {
                $.toast("请输入所在公司", "text");
                return;
            }
            if ($('#user_title').val() == '') {
                $.toast("请输入您的职位", "text");
                return;
            }
            $('#info_form').submit();
        });

        // edit-user.info.js
        $("#city-picker").cityPicker({
            showDistrict: true

        });

    </script>
{% endblock %}

</body>
</html>
