<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>荐乎</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="http://res.jian-hu.cn/static/jquery-weui/dist/lib/weui.css">
    <link rel="stylesheet" href="http://res.jian-hu.cn/static/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="http://res.jian-hu.cn/static/dist/css/app-index.css">
</head>

<body>
<div class="weui_tab">
    <div class="weui_navbar jian-title">
        <a href="javascript:history.back(-1);"><img src="http://res.jian-hu.cn/static/img/back@2x.png" class="jian-title-back"></a>
        <div class="jian-title-text">
            完善资料
        </div>
    </div>
    <!--以 weui_tab_bd 作为外部容器，下拉刷新、滚动加载控件必须在这个容器的之中-->
    <div class="weui_tab_bd" style="margin-top: 0;padding-top: 45px;background-color: #ebebeb;">
        <!--内容区-->
        <div id="content">
            <div style="font-size: 17px;text-align: center;height: 80px;line-height: 80px;">
                请先完善您的资料吧！
            </div>

            <!-- form start -->
            <div class="weui_cells weui_cells_form jian-form">
                <div class="weui_cell jian-form-cell">
                    <div class="weui_cell_hd jian-cell-hd"><label class="weui_label">真实姓名</label></div>
                    <div class="weui_cell_bd weui_cell_primary jian-form-cell-body">
                      <input class="weui_input" type="text" placeholder="请输入真实姓名">
                    </div>
                </div>
                <div class="weui_cell jian-form-cell">
                    <div class="weui_cell_hd jian-cell-hd"><label class="weui_label">所在公司</label></div>
                    <div class="weui_cell_bd weui_cell_primary jian-form-cell-body">
                      <input class="weui_input" type="text" placeholder="请输入所在公司">
                    </div>
                </div>
                <div class="weui_cell jian-form-cell">
                    <div class="weui_cell_hd jian-cell-hd"><label class="weui_label">您的职位</label></div>
                    <div class="weui_cell_bd weui_cell_primary jian-form-cell-body">
                      <input class="weui_input" type="text" placeholder="请输入您的职位">
                    </div>
                </div>
                
                <div class="weui_cell weui_cell_select jian-form-cell" style="padding: 15px;10px;">
                    <div class="weui_cell_hd" style="width: 145px;">
                    <label class="weui_label">所在城市</label></div>
                    <div class="weui_cell_bd weui_cell_primary jian-form-cell-body">
                        <input class="weui_input" type="text" id='city-picker' value="北京 北京市" />
                    </div>
                </div>
            </div>
            <!-- form-end -->

            <div style="margin: 40px 15px">
            <a href="/user/me">
                <div style="text-align: center;font-size: 18px;color: #ffffff;background-color: #00a8ff;margin: 10px auto;padding: 8px;border-radius: 4px;">
                    提交
                </div>
            </a>
        </div>
        </div>
    </div>

</div>
<script src="http://res.jian-hu.cn/static/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
<script src="http://res.jian-hu.cn/static/jquery-weui/dist/js/jquery-weui.js"></script>
<script src="http://res.jian-hu.cn/static/jquery-weui/dist/js/city-picker.min.js"></script>

<script src="http://res.jian-hu.cn/static/dist/js/app-fabu-list.js"></script>
</body>
</html>
