{% extends 'base/base_detail.html' %}

{% block css %}
    <style type="text/css">
        .weui_tabbar {
            z-index: 1001;
        }
    </style>
{% endblock %}

{% block header_right %}
    <a href="/job/recommand_job" id="recommand">
        <div class="jian-header-right">
            <span id="recommand_text">推荐好友</span>
        </div>
    </a>
{% endblock %}

{% block footer %}
    <div class="weui_tabbar">
        <a href="javascript:;" id="toggle_job" class="weui_tabbar_item" style="padding-top: 0">
            <div class="jian-tabbar-xingqu">
                <span id="toggle_job_text" style="margin-top: 14px;">关闭职位</span>
            </div>
        </a>
        <a href="javascript:;" id="edit_job" class="weui_tabbar_item" style="padding-top: 0">
            <div class="jian-tabbar-friend">
                <span id="edit_job_text" style="margin-top: 14px;">编辑职位</span>
            </div>
        </a>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var is_valid = '{{ is_valid|safe }}';
        var valid = '1';
        if (is_valid == 'False')
            valid = 0;
        if (valid == '1') {
            closeZhezhao();
            $('#toggle_job_text').text('关闭职位');
            $('#edit_job').show();
            $('#recommand_text').show();
        } else {
            openZhezhao();
            $('#toggle_job_text').text('开启职位');
            $('#edit_job').hide();
            $('#recommand_text').hide();
        }

        $('#toggle_job').on('click', function (event) {
            var job_uuid = uuid

            $.showLoading("正在加载...");
            $.post('/user/ajax_toggle_job', {'is_valid': valid, 'job_uuid': job_uuid}, function (data) {
                $.hideLoading();
                valid = data.valid;
                if (valid == '1') {
                    closeZhezhao();
                    $('#toggle_job_text').text('关闭职位');
                    $('#edit_job').show();
                    $('#recommand_text').show();
                } else {
                    openZhezhao();
                    $('#toggle_job_text').text('开启职位');
                    $('#edit_job').hide();
                    $('#recommand_text').hide();
                }
            });
        });
    </script>
{% endblock %}