<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>荐乎</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="http://res.jian-hu.cn/static/jquery-weui/dist/lib/weui.css">
    <link rel="stylesheet" href="http://res.jian-hu.cn/static/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="http://res.jian-hu.cn/static/dist/css/app-recommand-list.css">
</head>

<body>
<div class="weui_tab">
    <div class="weui_navbar jian-title">
        <a href="javascript:history.back(-1);"><img src="http://res.jian-hu.cn/static/img/back@2x.png" class="jian-title-back"></a>
        <div class="jian-title-text">
            我的推荐
        </div>
        
        </a>
    </div>
    <!--以 weui_tab_bd 作为外部容器，下拉刷新、滚动加载控件必须在这个容器的之中-->
    <div class="weui_tab_bd" style="margin-top: 0px;padding-top: 45px;background-color: #ebebeb;">
        <!--内容区-->
        <!-- item-begin -->
        <div style="padding: 15px;background-color: #ffffff;">
            <div class="jian-tui-label">
                <div>我推荐了该职位</div>
                <div class="jian-tui-time">2015年6月24日</div>
            </div>
            <div class="jian-job recommand-job">
                <div style="display: flex;justify-content: flex-start;">
                    <div style="flex:1">高级UED工程师</div>
                    <div class="jian-job-label">北京</div>
                    <div class="jian-job-label">3-5年</div>
                    <div class="jian-job-label" style="margin-right: 0;">本科</div>
                </div>

                <div class="jian-detail">
                    <div class="jian-detail-name">
                        <div style="width: 28px;height: 28px;">
                            <img src="http://res.jian-hu.cn/static/img/default1.png" width="100%" height="100%" style="border-radius: 50%;">
                        </div>
                        <div style="margin-left: 6px;">
                            罗一鸣
                        </div>
                    </div>
                    <div style="color: #ff9600;">
                        ￥10k-15k
                    </div>
                    
                    <div class="jian-detail-company">
                        深圳腾讯科技有限公司
                    </div>
                </div>
            </div>
        </div>
        <div class="jian-list-space"></div>
        <!-- item-end -->

        <!-- item-begin -->
        <div style="padding: 15px;background-color: #ffffff;">
            <div class="jian-tui-label">
                <div>我推荐了该职位</div>
                <div class="jian-tui-time">2015年6月24日</div>
            </div>
            <div class="jian-job recommand-job">
                <div style="display: flex;justify-content: flex-start;">
                    <div style="flex:1">工程师</div>
                    <div class="jian-job-label">北京</div>
                    <div class="jian-job-label">3-5年</div>
                    <div class="jian-job-label" style="margin-right: 0;">本科</div>
                </div>

                <div class="jian-detail">
                    <div class="jian-detail-name">
                        <div style="width: 28px;height: 28px;">
                            <img src="http://res.jian-hu.cn/static/img/default1.png" width="100%" height="100%" style="border-radius: 50%;">
                        </div>
                        <div style="margin-left: 6px;">
                            张三
                        </div>
                    </div>
                    <div style="color: #ff9600;">
                        ￥5k-8k
                    </div>
                    
                    <div class="jian-detail-company">
                        深圳腾讯科技
                    </div>
                </div>
            </div>
        </div>
        <div class="jian-list-space"></div>
        <!-- item-end -->

        <!-- item-begin -->
        <div style="padding: 15px;background-color: #ffffff;">
            <div class="jian-tui-label">
                <div>我推荐了该职位</div>
                <div class="jian-tui-time">2015年6月24日</div>
            </div>
            <div class="jian-job recommand-job">
                <div style="display: flex;justify-content: flex-start;">
                    <div style="flex:1">UED工程师</div>
                    <div class="jian-job-label">北京</div>
                    <div class="jian-job-label">3-5年</div>
                    <div class="jian-job-label" style="margin-right: 0;">本科</div>
                </div>

                <div class="jian-detail">
                    <div class="jian-detail-name">
                        <div style="width: 28px;height: 28px;">
                            <img src="http://res.jian-hu.cn/static/img/default1.png" width="100%" height="100%" style="border-radius: 50%;">
                        </div>
                        <div style="margin-left: 6px;">
                            马云
                        </div>
                    </div>
                    <div style="color: #ff9600;">
                        ￥10k-15k
                    </div>
                    
                    <div class="jian-detail-company">
                        阿里巴巴
                    </div>
                </div>
            </div>
        </div>
        <div class="jian-list-space"></div>
        <!-- item-end -->

        

            
    </div>
</div>
<script src="http://res.jian-hu.cn/static/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
<script src="http://res.jian-hu.cn/static/jquery-weui/dist/js/jquery-weui.js"></script>
<script src="http://res.jian-hu.cn/static/dist/js/app-user-recommand-list.js"></script>
</body>
</html>
