{% extends 'base/base_detail.html' %}

{% block header_right %}
    <a href="javascript:;" id="collect">
        <div class="jian-header-right">
            <span id="collection_text">{{ collection }}</span>
        </div>
    </a>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var is_valid = '{{ is_valid|safe }}';
        var valid = '1';
        if (is_valid == 'False')
            valid = 0;
        if (valid == '1') {
            closeZhezhao();
        } else {
            openZhezhao();
        }
        var post_success = '{{ post_success|safe }}';
        if (post_success == 1) {  //非空显示发布成功
            openPostJobSuccessModal('http://res.jian-hu.cn/static/img/feiji@2x.png', "发布成功！", '快快发给自己的老同学、前同事、现同事、好朋友们，求推荐吧！');
        }

        $('#collect').on('click', function (event) {
            var job_uuid = uuid
            var is_collected = 0;
            if ($('#collection_text').text() == '取消收藏') {
                is_collected = 1;
            }
            $.showLoading("正在加载...");
            $.post('/job/ajax_collection', {'is_collected': is_collected, 'job_uuid': job_uuid}, function (data) {
                $.hideLoading();
                if (data.status == "ok") {
                    $('#collection_text').text(data.info);
                }
            });
        });
    </script>
{% endblock %}