<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>荐乎</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/jquery-weui/dist/lib/weui.css">
    <link rel="stylesheet" href="/static/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="/static/dist/css/app-success.css">
</head>

<body>
<div class="weui_tab" style="overflow: hidden;">
    <div class="weui_navbar jian-title">
        <img src="/static/img/jianhu@2x.png" height="30px" width="52px" style="margin: 7px auto">
    </div>
    <div class="weui_tab_bd" >
        <div style="margin: 2px auto;width: 220px;height: 220px;">
            <img src="/static/img/fasong@2x.png" style="width: 100%;height: 100%;">
        </div>

        <div style="text-align: center;font-size: 20px;color: #ff9600;font-family: Mcrosoft Yahei;">
            职位发布成功啦！
        </div>

        <div style="width: 220px;margin: 10px auto;text-align: center;line-height: 30px;font-size: 14px;color: #bebebe;font-family: Mcrosoft Yahei;">
            快将你发布的职位信息分享出去，让更多的人帮助你来做推荐吧！
        </div>

        <div class="weui-row" style="margin: 40px 25px;;">
            <div class="weui-col-50" style="padding: 0 6px;">
                <a href="/">
                    <div style="height: 40px;width: 100%;border: 1px solid #bebebe;text-align: center;line-height: 40px;font-size: 20px;color: #bebebe;border-radius: 5px;">
                        取消
                    </div>
                </a>
            </div>

            <div class="weui-col-50" style="padding: 0 6px;">
                <div style="height: 40px;width: 100%;border: 1px solid #bebebe;text-align: center;line-height: 40px;background-color: #ff9600;font-size: 20px;color: #ffffff;border-radius: 5px;">
                    立即分享
                </div>
            </div>

            
        </div>

    </div>
</div>
</body>
</html>
