{% extends "base/base.html" %}
{% block parent_css %}
<link rel="stylesheet" href="http://res.jian-hu.cn/static/dist/css/app-mesg.css">
{% endblock %}

{% block header_left %}
{% endblock %}
{% block header %}
    <div class="jian-header-middle">
        我的消息
    </div>
{% endblock %}
{% block header_right %}
{% endblock %}
{% block content %}
    <div class="weui_tab_bd" style="margin-top: -42px;padding-top: 87px;background-color: #ebebeb;">
        <div class="jian-item-space"></div>
        <div style="background-color: #ffffff;">
            <!-- item begin  -->
            <a href="/chat/chat">
                <div class="jian-chat-item">
                    <table width="100%" style="table-layout:fixed;">
                        <tr>
                            <td rowspan="2" valign="top" width="40px;">
                                <img src="http://res.jian-hu.cn/static/img/default1.png" class="jian-chat-img">

                                <div style="position: absolute;top: 36px;left: 14px;background-color: #c773ff;color: #ffffff;width: 40px;height: 14px;font-size: 12px;text-align: center;line-height: 14px;">
                                    伯乐
                                </div>
                            </td>
                            <td>
                                <div class="jian-chat-name">
                                    李白
                                </div>
                            </td>
                            <td>
                                <div class="jian-chat-time">
                                    2013-06-23 18:23
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="jian-chat-content">
                                    快来听听吧！
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </a>
            <!-- item end -->

            <!-- item begin  -->
            <a href="/chat/chat">
                <div class="jian-chat-item">
                    <table width="100%" style="table-layout:fixed;">
                        <tr>
                            <td rowspan="2" valign="top" width="40px;">
                                <img src="http://res.jian-hu.cn/static/img/default1.png" class="jian-chat-img">

                                <div style="position: absolute;top: 36px;left: 14px;background-color: #c773ff;color: #ffffff;width: 40px;height: 14px;font-size: 12px;text-align: center;line-height: 14px;">
                                    千里马
                                </div>
                            </td>
                            <td>
                                <div class="jian-chat-name">
                                    杜甫
                                </div>
                            </td>
                            <td>
                                <div class="jian-chat-time">
                                    2013-06-23 18:23
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="jian-chat-content">
                                    快来听听吧！
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </a>
            <!-- item end -->

            <!-- item begin  -->
            <a href="/chat/chat">
                <div class="jian-chat-item">
                    <table width="100%" style="table-layout:fixed;">
                        <tr>
                            <td rowspan="2" valign="top" width="40px;">
                                <img src="http://res.jian-hu.cn/static/img/default.jpg" class="jian-chat-img">
                                <div style="position: absolute;top: 36px;left: 14px;background-color: #c773ff;color: #ffffff;width: 40px;height: 14px;font-size: 12px;text-align: center;line-height: 14px;">
                                    主公
                                </div>
                            </td>
                            <td>
                                <div class="jian-chat-name">
                                    叶圣陶
                                </div>
                            </td>
                            <td>
                                <div class="jian-chat-time">
                                    2013-06-23 18:23
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="jian-chat-content">
                                    请问您的联系方式
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </a>
            <!-- item end -->
        </div>
    </div>
{% endblock %}

{% block tabbar1 %}
    http://res.jian-hu.cn/static/img/btn_nor_faxian@2x.png
{% endblock %}

{% block tabbar2 %}
    http://res.jian-hu.cn/static/img/btn_pre_mesaage@2x.png
{% endblock %}

{% block parent_script %}
{% endblock %}

